.svFixed {
    transform: translateX(0px);
}

.bold {
    font-weight: bold;
}

.foto {
    width: 100%;
}

.sidenavLeft {
    width: 265px !important;
}

.svFixed {
    transform: translateX(0px);
}

.top {
    padding-top: 35px !important;
}

.text-color-green {
    color: green !important;
    font-weight: bold;
}

.text-color-red {
    color: red !important;
    font-weight: bold;
}